<%- include("header") -%>
<center>
<h2>Your One Stop Decision-making friend</h2>
</center>

<p>Get help to decide which Autombile company to choose while buying a new vehicle according to the current demands. The page shows a graph depicting the current demand as well as the demand of a particular automobile industry for the next 5 years.</p>

<%- include("footer") -%>
